div#page {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h1 img,
h2 span {
	vertical-align: middle;
}

h2 span.fa-regular,
h2 span.fa-solid {
	font-size: 0.5em;
	font-weight: normal;
}

#about {
	padding: 15px;
	background-color: #fcfcfc;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
}

#about p:first-child {
	margin-top: 0;
}

#about p:last-child {
	margin-bottom: 0;
}

#categories {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#categories button {
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	font-weight: bold;
}

#categories button.active {
	background: #f5f5f5;
	border-color: #fe9308;
}

#categories button.inactive {
	background: #ffffff;
}

#categories button:focus {
	border-style: dotted;
}

#categories button::-moz-focus-inner {
	border: 0;
}

ul.images,
ul.images li {
	list-style-type: none;
}

ul.images {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
}

ul.images > li {
	width: 48%;
	margin: 10px 0;
	padding-top: 10px;
}

ul.images li.large {
	width: 100%;
	margin-right: 0;
}

figure {
	margin: 0;
	padding: 10px;
	background-color: #fcfcfc;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
}

figure.selected {
	border-color: #fe9308;
}

figcaption {
	position: relative;
	margin-top: 5px;
	padding: 0;
	background-color: #f5f5f5;
	border: 1px dotted #e0e0e0;
}

figcaption span.controls {
	position: absolute;
	bottom: 5px;
	left: 50%;
}

figure p {
	margin: 0;
}

p.filter-name {
	margin: 5px;
	font-weight: bold;
}

p.filter-name,
p.image {
	text-align: center;
}

p.image > span {
	position: relative;
}

p.image img {
	width: auto;
	max-width: 100%;
	height: auto;
}

p.more-info {
	padding: 2px;
	background-color: #ededed;
	border-top: 1px dotted #e0e0e0;
}

p.more-info code {
	word-wrap: break-word;
}

p.more-info code.custom {
	font-style: italic;
}

ul.menu-image {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

ul.menu-image li {
	margin: 5px 5px 3px 5px;
}

ul.menu-image li.sep {
	margin-right: auto;
}

span.fa-regular,
span.fa-solid,
#categories button,
#menu span,
#menu li,
ul.menu-image span:not(.disabled),
img[data-src-static]:not([data-src-static=""]),
span.controls {
	cursor: pointer;
}

ul.menu-image span.reorder,
p.image img {
	cursor: move;
}

ul.menu-image a {
	color: inherit;
}

span.disabled {
	color: #808080;
}

.hide {
	display: none;
}

#menu {
	position: fixed;
	top: 50%;
	right: 10px;
	text-align: right;
	z-index: 2;
}

#menu a {
	color: inherit;
	text-decoration: none;
}

#menu ul,
#menu li {
	list-style-type: none;
}

#menu > li ul li {
	padding: 5px;
}

#menu > li ul {
	display: none;
	padding: 10px;
	background-color: #fcfcfc;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	text-align: left;
}

#menu > li:hover ul {
	display: block;
}

#footer {
	padding-top: 16px;
	border-top: 1px solid #e0e0e0;
	text-align: center;
}

#footer .top {
	color: inherit;
}

/* jQuery UI */

.ui-dialog {
	border-radius: 2px;
}

.ui-dialog button {
	border-radius: 0;
}

.ui-dialog-titlebar {
	background: #fe9308;
	border-radius: 0;
	font-size: 1.1em;
	font-weight: bold;
}

.ui-widget-content {
	width: auto !important;
	min-height: 0 !important;
	background: #fcfcfc;
	font-size: 1em;
}

/* mobile */

@media only screen and (max-width: 1024px) {
	#menu,
	#about .reorder-container,
	#about .display-style-container,
	#about .drag-drop-image,
	#about .fixed-menu,
	ul.images > li .reorder-container .reorder,
	ul.images > li .display-style-container {
		display: none;
	}
	
	ul.images > li {
		width: 100%;
		margin-right: 0;
	}
}
